{% extends 'base.html' %}
{% block title %}
    Your To Do List
{% endblock %}

{% block content %}
<div id="first" >
    <h1>To Do List</h1>
    <form  action="/add" method="post">
        <br>
        <div >
            <label class="thick">Enter the task</label>
            <br>
            <input type="text" name="name">
        </div>
        <div>
            <label class="thick">Description</label>
            <br>
            <textarea name="description" cols="60" rows="2"></textarea>
        </div>
        <div>
            <label class="thick">Deadline:</label>
            <br>
            <input type="datetime-local" name="deadline">
        </div>
        <br>
        <button class="button1" type="submit" >Add</button>
        </div>
    </form>
    <br><br>
 <table>
     <tbody>
    {% for todo in todo_list %}
    <tr>
        <td class="thick">{{ todo.name }}</td>
        <td class="thick">{{ todo.description }}</td>
        <td>{{ todo.deadline }}</td>
        <td> 
            <span class="warning">
                {% if todo.deadline %}
                    {% if todo.deadline < current_datetime %}
                        Deadline has passed 
                    {% elif todo.deadline < current_datetime + timedelta(hours=1) %}
                        Deadline is approaching within the next hour
                    {% endif %}
                {% endif %}    
            </span>
        </td>
        {% if todo.done == False %}
        <td><label class="label pending">Not done</label></td>
        {% else %}
        <td><label class="label done">Done</label></td>
        {% endif %}
        <td><a  href="{{ url_for('update', todo_id=todo.id) }}" class="button2">Update</a></td>
        <td><a  href="{{ url_for('delete', todo_id=todo.id) }}" class="button3">Delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}